/* Shmish Where do you want this code? 
    Will also Comment and make more neat later
*/


.donationpkgs{
    width: 94%;
    height: 66%;
    display: inline-block;
    align-content: center;
    padding: 20px;
    margin-left: auto;
    justify-content: center;
}

.left{
    width: 33%;
    height: 50%;
    background-color: #10c27e;
    float: left;
}

.middle{
    width: 34%;
    height: 50%;
    background: #0099ff;
    float: left;
}

.right{
    width: 33%;
    height: 50%;
    background-color: #00ff9d;
    float: left;
}

.bottom {
    float: left;
    margin-left: 17%;
    margin-right: 17%;
    background-color: #890096;
    height: 50%;
    width: 66%;
}

.bottom > .left{
    width: 50%;
    height: 100%;
    background-color: #0ff0dd;
}

.bottom > .right{
    width: 50%;
    height: 100%;
    background-color: #0ff0e5;
}

.left > p{
    margin-left: 40%;
}

.right > p{
    margin-left: 40%;
}

.middle > p{
    margin-left: 40%;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4{
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.paypal{
    width: 89%;
    height: 5%;
    padding: 20px;
    display: inline-block;
    align-content: center;
    justify-content: center;
    margin-left: 40%;
}

.land-labor{
    width: 89%;
    height: 15%;
    background-color: #00ff73;
    display: inline-block;
    align-content: center;
    padding: 20px;
    margin-left: auto;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.land-labor > p{
    margin-left: 45%;
}

div{
    justify-content: center;
    align-content: center;
    display: inline-block;
}

div > .paragraph{
    font-family: "arial";
    font-size: 80%; 
    text-decoration: none;
    position: relative; 
    width: 90%;
    height: 70%;
    line-height: 25px;
    margin-left: 5%;
    margin-right: 5%;
}